<div metal:use-macro="load: ../shared/_layout.html">
    <div metal:fill-slot="content" class="">


        <div class="flex min-h-full flex-col mt-20 px-6 py-0 pt-0 lg:px-0">

            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <a href="/"><img class="mx-auto h-20 w-auto"
                                 src="/static/img/logo/logo-200.png?v=${cache_id('/static/img/logo/logo-200.png')}"
                                 alt="X-ray Podcasts"></a>
                <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 whitespace-nowrap">
                    Create your free <span class="font-light">x-ray podcast</span> account</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" action="" method="POST">
                    <!--  Email Section-->
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                            address</label>
                        <div class="mt-2">
                            <input id="email" name="email" value="${email}" type="email" autocomplete="email" required
                                   placeholder="you@email.com"
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <!--  Password Section-->
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password"
                                   class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <div class="text-sm">
                                <a href="/account/forgot-password"
                                   class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot
                                    password?</a>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input id="password" value="${password}" name="password" type="password" autocomplete="current-password"
                                   required
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Sign in
                        </button>
                    </div>
                </form>

                <p class="mt-10 text-center error-text">
                    ${error}
                </p>

                <p class="mt-10 text-center text-sm text-gray-500">
                    Don't have an account?
                    <a href="/account/register" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
                        Create your free account.
                    </a>
                </p>
            </div>
        </div>


    </div>
</div>